In [44]:
import pandas as pd
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor

In [39]:
melb_data = '_sold.csv'
df = pd.read_csv(melb_data)
df.head()

,latitude,longitude,streetAddress,suburb,postcode,region,bedrooms,bathrooms,parkingSpaces,propertyType,price,listingId,title,dateSold,modifiedDate
0,-38.276067,144.485488,6 Corymbia Circuit,Barwon Heads,3227,bellarine_peninsula,3,2,2,house,"$1,255,000",129714950,Luxurious Coastal Lifestyle Awaits,2018-11-06,2018-11-06T02:00:19Z
1,-38.238159,144.545576,9 La Bella Street,Ocean Grove,3226,bellarine_peninsula,4,2,2,house,"$725,000",129219294,Laid Back Family Living In An Idyllic Location,2018-11-06,2018-11-06T04:01:41Z
2,-37.638387,144.922701,26 Greensted Grove,Roxburgh Park,3064,melbourne___northern_region,4,2,2,house,"$670,000",129517974,Oversized & park-facing,2018-11-06,2018-11-06T02:37:57Z
3,-38.121844,144.332476,80 Calvert Street,Hamlyn Heights,3215,NaN,3,2,1,house,"$600,000",129640018,Cherished Family Home In Leafy Hamlyn Heights,2018-11-06,2018-11-06T02:00:19Z
4,-38.129071,144.323640,295 Church Street,Herne Hill,3218,bellarine_peninsula,3,1,2,house,"$520,000",129459426,Potential Plus,2018-11-06,2018-11-06T02:00:17Z

In [40]:
df.describe()

,latitude,longitude,postcode,bedrooms,bathrooms,parkingSpaces,listingId
count,105119.000000,105119.000000,105120.000000,105120.00000,105120.000000,105120.000000,1.051200e+05
mean,-37.588618,144.986669,3375.773735,2.65429,1.550875,1.553073,1.293164e+08
std,0.612449,0.884748,289.116018,0.79562,0.499316,0.510247,1.023279e+06
min,-38.661799,141.579392,3000.000000,0.00000,0.000000,0.000000,7.418066e+06
25%,-37.998847,144.339984,3101.000000,2.00000,1.000000,1.000000,1.293070e+08
50%,-37.780162,144.962296,3337.000000,3.00000,2.000000,2.000000,1.294218e+08
75%,-37.581211,145.347311,3629.000000,3.00000,2.000000,2.000000,1.294887e+08
max,-36.125909,147.236576,3981.000000,13.00000,5.000000,14.000000,2.022433e+08

In [41]:
df.head()

,latitude,longitude,streetAddress,suburb,postcode,region,bedrooms,bathrooms,parkingSpaces,propertyType,price,listingId,title,dateSold,modifiedDate
0,-38.276067,144.485488,6 Corymbia Circuit,Barwon Heads,3227,bellarine_peninsula,3,2,2,house,"$1,255,000",129714950,Luxurious Coastal Lifestyle Awaits,2018-11-06,2018-11-06T02:00:19Z
1,-38.238159,144.545576,9 La Bella Street,Ocean Grove,3226,bellarine_peninsula,4,2,2,house,"$725,000",129219294,Laid Back Family Living In An Idyllic Location,2018-11-06,2018-11-06T04:01:41Z
2,-37.638387,144.922701,26 Greensted Grove,Roxburgh Park,3064,melbourne___northern_region,4,2,2,house,"$670,000",129517974,Oversized & park-facing,2018-11-06,2018-11-06T02:37:57Z
3,-38.121844,144.332476,80 Calvert Street,Hamlyn Heights,3215,NaN,3,2,1,house,"$600,000",129640018,Cherished Family Home In Leafy Hamlyn Heights,2018-11-06,2018-11-06T02:00:19Z
4,-38.129071,144.323640,295 Church Street,Herne Hill,3218,bellarine_peninsula,3,1,2,house,"$520,000",129459426,Potential Plus,2018-11-06,2018-11-06T02:00:17Z

In [59]:
df['price'] =

In [80]:

df['price']=df['price'].str.replace('$','')
df['price']=df['price'].str.replace(',','')
y = df['price']

In [87]:

features = ['bathrooms','parkingSpaces','bedrooms']
X= df[features]
X.head()

   bathrooms  parkingSpaces  bedrooms
0          2              2         3
1          2              2         4
2          2              2         4
3          2              1         3
4          1              2         3

In [88]:
#Split data into training and test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state=1)

In [89]:
data_model = DecisionTreeRegressor(random_state=1)

In [90]:
data_model.fit(X_train,y_train)

ValueError: could not convert string to float: 'Contact agent'